<tr>
  <td><%= link_to test.title, admin_test_path(test) %></td>
  <td><%= test_level test %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to 'Start', start_test_path(test), method: :post %></td>
  <td><%= button_to 'Delete', admin_test_path(test), method: :delete %></td>
</tr>
